a:link, a:visited {
    background-color: #ffffff;
    color: #126e35;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(141, 184, 137);
}
